<!DOCTYPE html>
<html lang="en" data-theme="retro">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
  <%- include('partials/navbar', {page: '/lego/sets'}) %>

  <section class="container mx-auto">
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content flex-col lg:flex-row">
        <img src="<%= legoSet.img_url %>" class="max-w-sm rounded-lg shadow-2xl" />
        <div>
          <h1 class="text-5xl font-bold"><%= legoSet.name %></h1>
          <p class="py-6">Set Information</p>
          <p class="py-6">Name: <%= sets.name %></p>
          <p class="py-6">Year: <%= sets.year %></p>
          <p class="py-6">Theme: <%= sets.theme %></p>
          <p class="py-6">Numver of Parts: <%= sets.num_parts %></p>
          <button class="btn btn-primary"><a href="#" onclick="history.back(); return false;">Go Back</a></button>
        </div>
      </div>
    </div>

  </section>



</body>

</html>